[core]
	editor = vim
	quotepath = false
[alias]
	sw = switch
	res = restore
	ressta = restore --staged
	bra = branch
	sta = status
	glog = log --graph
	log5 = log -n5 --oneline --graph
	log10 = log -n10 --oneline --graph
	cb="git rev-parse --abbrev-ref HEAD"
	pushup = push --set-upstream origin HEAD
	diffc = diff --cached
[color]
	ui = true
[color "status"]
	branch = blue bold
	localBranch = blue bold
	remoteBranch = magenta bold
